

body{
background-color: rgb(17, 28, 68);

}







.chatbox {
  position: absolute; 
  left: 35%;
  height: 75%;
  width: 60%;
  border-radius: 10px;
  
}
.imessage {

 
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem;
}

.imessage p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.imessage img{
  width: 50px;
  height: 50px;
  border-radius: 40px;



}
img.from-me {
  align-self: flex-end;
}
img.from-them {
  align-self: flex-start;
}




p.from-me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff; 
}




p[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}


p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}



.container {
  margin-left: auto;
  margin-right: auto;
  
 
  width: 620px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  overflow-y: auto;

}



.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}



.form-control{

width: 550px;
height: 40px;
border-radius: 60px;


}
.input-group{

  width: 700px;
  height: 30px;
 



}

.center {
  position: absolute;
  top: 50%;
  right: 32%;
  transform: translate(0, -50%);
  padding: 10px;
}

.mx-auto{
  display: inline-block;
  vertical-align: middle;

}
.btn-default{
width: 60px;
height: 50px;
border-radius: 13px;

}